<!DOCTYPE html>
<html lang="pt-pt">
<head>
	<meta charset="UTF-8">
	<title>Centro Académico Clínico das Beiras</title>
    <style>
        input[type="date"]{
        padding: 1%;
        border-radius: 5px;
        border-color: #ccc;
    }
      </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_forms.css">
</head>
<body id="page-content">
    
    <header>
        <div class="logo">
          
        </div>
        <nav>
            <ul>
              <li><a href="/login">Terminar sessão</a></li>
            </ul>
          </nav>
    </header>

	<main>
    <h1>Criar Notícia</h1>
    <table class="tabela">
      <tr>
        <td class="bt_publicar">
          <form action="/nova_noticia" method="POST" enctype="multipart/form-data">
            <label for="titulo_noticia">Título:</label>
            <input type="text" id="titulo_noticia" name="titulo_noticia" maxlength="100" placeholder="Título" required>
    
            <label for="texto_noticia">Sinopse da Notícia:</label>
            <textarea id="texto_noticia" name="texto_noticia" maxlength="3000" rows="7" placeholder="Sinopse" style="font-size: 16px;" required></textarea>
    
            <label for="link_original" class="campos_forms">Link original da notícia:</label>
            <input type="url" id="link_original" name="link_original" maxlength="200" placeholder="Link original" required>
    
            <label for="data_publicacao" class="campos_forms">Data de publicação da notícia:</label>
            <input type="date" id="data_publicacao" name="data_publicacao" required>
    
            <label for="entidade" class="campos_forms">Entidade que publicou a notícia:</label>
            <input type="text" id="entidade" name="entidade" placeholder="Entidade" required>
    
            <label for="imagem" class="campos_forms">Imagem (opcional):</label>
            <input type="file" id="imagem" name="imagem" accept="image/*">
        </td>
      </tr>
      <tr style="text-align: right;">
        <td>
          <div class="button-group">
            <button type="button" class="btn-cancelar" onclick="window.location.href='/cancelar'">Cancelar</button>
            <button type="submit" class="btn-publicar">Publicar</button>
          </div>
        </td>
      </tr>
      </form>
    </table>
    
    <div id="user-info" data-id="<%= id_utilizador %>"></div>
    
	</main>
	
	
  <script src="script_traducao.js"></script>
</body>
</html>
